{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ 'category.add'|trans }}{% endblock %}
{% block body %}
    <h1 class="text-shadow-lg shadow-red font-sans text-4xl text-center font-bold uppercase">
        {{ 'category.add'|trans }}
    </h1>
    <section class="flex justify-center items-center h-full">
        <div class="block p-6 rounded-lg shadow-lg bg-red max-w-xl">
            {{ include('/category/_form.html.twig') }}
            <div class="mt-5">
                {{ component('_button', {
                    buttonUrl: path('program_index'),
                    buttonText: 'Back'|trans,
                }) }}
            </div>

        </div>
    </section>
{% endblock %}