{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ category.name }}{% endblock %}
{% block body %}
    <h1 class="text-shadow-lg shadow-red font-sans text-4xl text-center font-bold uppercase">{{ category.name }}</h1>
    <div class="flex justify-evenly">
    <section class="grid lg:grid-cols-3 mt-2 grid-flow-row">
        {% for program in program_by_category %}
            {{ component('_card_program', {
                programPoster: program.poster,
                cardPosterUrl: vich_uploader_asset(program),
                imgAlt: program.title,
                programTitle: program.title,
                programSynopsis: program.synopsis,
                programSlug: program.slug
            }) }}
        {% endfor %}
    </section>
    </div>
    <div class="flex justify-center mb-5">
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('category/_delete_form.html.twig') }}
            {{ component('_button', {
                buttonUrl: path('category_edit', {'id': category.id}),
                buttonText:'category.edit'|trans
            }) }}
        {% endif %}
    </div>

{% endblock %}