{{ form_start(form) }}
<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.title) }}
</div>
    {{ form_row(form.title) }}
<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.number) }}
</div>
{{ form_row(form.number) }}
<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.synopsis) }}
</div>
{{ form_row(form.synopsis) }}
<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.duration) }}
</div>
{{ form_row(form.duration) }}
<div class="flex space-x-2 justify-center">
    <button class="btn text-center inline-block mt-5 px-6 py-2.5 bg-white text-black font-medium text-md leading-tight uppercase rounded hover:bg-black hover:text-white hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">
        {{ button_label|default('episode.save'|trans) }}
    </button>
</div>
{{ form_end(form) }}
