{{ form_start(form) }}
<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.title) }}
</div>
{{ form_label(form.title) }}
{{ form_widget(form.title) }}

<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.synopsis) }}
</div>
{{ form_label(form.synopsis) }}
{{ form_widget(form.synopsis) }}

<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.posterFile) }}
</div>
{{ form_label(form.posterFile) }}
{{ form_widget(form.posterFile) }}

<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.country) }}
</div>
{{ form_label(form.country) }}
{{ form_widget(form.country) }}

<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.year) }}
</div>
{{ form_label(form.year) }}
{{ form_widget(form.year) }}

<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.category) }}
</div>
{{ form_label(form.category) }}
{{ form_widget(form.category) }}

<div class="bg-black text-red text-sm mt-2 md:mt-5">
    {{ form_errors(form.actors) }}
</div>
{{ form_label(form.actors) }}
{{ form_widget(form.actors) }}
<div class="flex space-x-2 justify-center">
    <button class="btn text-center inline-block mt-5 px-6 py-2.5 bg-white text-black font-medium text-md leading-tight uppercase rounded hover:bg-black hover:text-white hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">{{ button_label|default('Ajouter une série') }}</button>
</div>

{{ form_end(form) }}