{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ episode.title }}{% endblock %}
{% block body %}
    <div class="flex flex-col items-center justify-around min-h-screen">
        <section>
            <h1 class="text-center text-shadow-lg shadow-red uppercase font-extrabold font-serif text-4xl md:text-5xl xl:text-6xl my-4 md:my-8 md:mx-12">{{ episode.title }}</h1>
            <h2 class="font-serif text-center font-bold text-2xl px-4 md:text-3xl md:px-52 xl:text-4xl xl:px-60">Episode {{ episode.number }} de la saison {{ season.number }} de {{ program.title }}</h2>
        </section>
        <section>
            <h3 class="font-serif text-center underline text-lg md:text-2xl xl:text-3xl">Résumé de l'épisode</h3>
            <p class="font-sans text-left mx-4 lg:mx-20 text-base md:text-xl xl:text-2xl">{{ episode.synopsis }}</p>
        </section>
        <div>
            {% include 'episode/_delete_form.html.twig' %}
        </div>
        <div class="mb-10">
            {{ component('_button', {
                buttonUrl: path('program_season_show', {programId: program.id, seasonId: season.id}),
                buttonText: "Retour à la saison"
            }) }}
        </div>
    </div>


{% endblock %}