{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}
{% block body %}
    <h1 class="text-shadow-lg shadow-red font-sans text-4xl text-center font-bold uppercase">Liste des séries</h1>
    <div class="flex flex-row justify-evenly mt-5">
        <div class="inline-flex shadow-md hover:shadow-lg focus:shadow-lg" role="group">
            {% if is_granted('ROLE_ADMIN') %}
                {{ component('_button', {
                    buttonUrl: path('category_new'),
                    buttonText:'ajouter une catégorie'
                }) }}
            {% endif %}
            {% if is_granted('ROLE_CONTRIBUTOR') %}
                {{ component('_button', {
                    buttonUrl:path('program_new'),
                    buttonText: 'ajouter une série',
                }) }}
            {% endif %}
        </div>
    </div>
    <div class="flex justify-center items-center">
        <table class="min-w-full mb-5">
            <thead class="bg-transparent border-b">
            <tr>
                <th>id</th>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Pays</th>
                <th>Année</th>
            </tr>
            </thead>
            <tbody>
            {% for program in programs %}
                <tr class="bg-gray-100 border-b">
                    <td>{{ program.id }}</td>
                    <td>{{ program.title }}</td>
                    <td>{{ program.category.name }}</td>
                    <td>{{ program.country }}</td>
                    <td>{{ program.year }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#{% for program in programs %}
        <div class="flex items-center flex-row justify-center">
            <div class="w-full md:w-1/2 justify-center items-center bg-red text-black shadow-lg rounded-lg flex flex-col my-4">
                <img src="{{ program.poster }}" alt="{{ program.title }}" class="w-full h-auto object-cover rounded-t-lg">
                <div class="w-full p-4 justify-start flex flex-col">
                    <h4 class="border-b-2 text-lg" id="whoobe-3mr7n">{{ program.title }}</h4>
                    <p class="my-4 text-base" id="whoobe-950fw">{{ program.synopsis }}</p>
                    <button>
                        {{ component('_button', {
                            buttonUrl: "{{ path('program_show', {id: program.id}) }}",
                            buttonText: 'En savoir plus'
                        })
                        }}
                    </button>
                </div>
            </div>
        </div>

    {% endfor %}#}
{% endblock %}
