{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}
{% block body %}
    <h1 class="text-shadow-lg shadow-red font-sans text-4xl text-center font-bold uppercase">Liste des séries</h1>
    <div class="flex flex-row justify-evenly mt-5">
        <div class="inline-flex shadow-md hover:shadow-lg focus:shadow-lg" role="group">
            {% if is_granted('ROLE_ADMIN') %}
                {{ component('_button', {
                    buttonUrl: path('category_new'),
                    buttonText:'ajouter une catégorie'
                }) }}
            {% endif %}
            {% if is_granted('ROLE_CONTRIBUTOR') %}
                {{ component('_button', {
                    buttonUrl:path('program_new'),
                    buttonText: 'ajouter une série',
                }) }}
            {% endif %}
        </div>
    </div>
    <div class="flex justify-center items-center">
        <table class="table-auto my-5 border-collapse border border-white max-w-screen-sm lg:max-w-screen-lg">
            <thead class="bg-transparent border-b">
            <tr>
                <th class="border border-white border-solid">Titre</th>
                <th class="border border-white border-solid">Catégorie</th>
                <th class="border border-white border-solid">Pays</th>
                <th class="border border-white border-solid">Année</th>
                <th class="border border-white border-solid">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for program in programs %}
                <tr class="bg-gray-100 border-b">
                    <td class="border border-solid border-white text-center">{{ program.title }}</td>
                    <td class="border border-solid border-white text-center">{{ program.category.name }}</td>
                    <td class="border border-solid border-white text-center">{{ program.country }}</td>
                    <td class="border border-solid border-white text-center">{{ program.year }}</td>
                    <td class="border border-solid border-white text-center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('program_edit', { 'slug': program.slug }) }}"
                               class="underline decoration-transparent hover:decoration-inherit transition duration-300 ease-in-out">Editer</a>
                        {% endif %}
                        {% if is_granted('ROLE_CONTRIBUTOR') %}
                            <a href="{{ path('program_show', { 'slug': program.slug }) }}"
                               class="underline decoration-transparent hover:decoration-inherit transition duration-300 ease-in-out">Voir</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# {% for program in programs %}
        <div class="flex items-center flex-row justify-center">
            <div class="w-full md:w-1/2 justify-center items-center bg-red text-black shadow-lg rounded-lg flex flex-col my-4">
                <img src="{{ program.poster }}" alt="{{ program.title }}" class="w-full h-auto object-cover rounded-t-lg">
                <div class="w-full p-4 justify-start flex flex-col">
                    <h4 class="border-b-2 text-lg" id="whoobe-3mr7n">{{ program.title }}</h4>
                    <p class="my-4 text-base" id="whoobe-950fw">{{ program.synopsis }}</p>
                    <button>
                        {{ component('_button', {
                            buttonUrl: "{{ path('program_show', {id: program.id}) }}",
                            buttonText: 'En savoir plus'
                        })
                        }}
                    </button>
                </div>
            </div>
        </div>

    {% endfor %} #}
{% endblock %}
