{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ program.title }}{% endblock %}
{% block body %}
    <div class="min-h-screen flex flex-col">
        <h1 class="text-shadow-lg shadow-red text-center uppercase font-extrabold font-serif text-4xl md:text-5xl xl:text-6xl my-4 md:my-8">{{ program.title }}</h1>
        <div class="md:grid md:grid-cols-2 flex flex-col space-y-8">
            <div class="flex justify-center">
                {% if program.poster is not empty %}
                    <img src="{{ program.poster }}" alt="{{ program.title }}">
                {% else %}
                    <img src="https://picsum.photos/id/184/300/200" alt="ordinateur"
                         class="w-full h-auto object-contain rounded-t-lg">
                {% endif %}

            </div>
            <div>
                <div class="md:flex md:justify-around my-2 md:my-5">
                    <h3 class="text-center">{{ program.country }}</h3>
                    <h3 class="text-center">{{ program.year }}</h3>
                </div>
                <h4 class="text-center my-2 md:my-5">Catégorie : {{ program.category.name }}</h4>
                <div>
                    <h3 class="text-center">Résumé :</h3>
                    <p class="text-left m-2 md:mx-12 font-sans">{{ program.synopsis }}</p>
                </div>

                <div class="md:flex md:justify-evenly">

                    <ul>
                        <h3 class="text-center font-bold">Saisons</h3>
                        {% if seasons is empty %}
                            <div>
                                <p class="text-base text-center md:text-xl">Aucune saison pour cette série</p>
                            </div>
                        {% endif %}
                        {% for season in seasons|sort((a,b) => a.number <=> b.number) %}
                            <li class="text-center"><a
                                        href="{{ path('program_season_show', {slug: program.slug, seasonId: season.id}) }}"
                                        class="hover:underline">Saison - {{ season.number }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="flex flex-col justify-center items-center">
                        <h3 class="text-center font-bold">Acteurs :</h3>
                        <div class="flex justify-center">
                            <ul class="shadow shadow-red mb-2">
                                {% for actor in program.actors %}
                                    <li class="flex px-6 py-2 border-b border-gray-200 w-full lg:max-w-lg rounded-t-lg hover:underline">
                                        <a href="{{ path('actor_show', { 'slug': actor.slug}) }}"
                                           class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg">{{ actor.firstname }} {{ actor.lastname }}</a>
                                    </li>
                                {% else %}
                                    <li class="flex px-6 py-2 border-b border-gray-200 w-full lg:max-w-lg rounded-t-lg hover:underline">
                                        Aucun acteur pour cette série.
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col my-4 md:flex-row md:justify-evenly md:my-9">
            {{ component('_button', {
                buttonUrl: path('category_show', {categoryName: program.category.name}),
                buttonText: 'Retour'
            }) }}
            {{ component('_button', {
                buttonUrl: path('season_new', {program_slug: program.slug}),
                buttonText: "ajout d'une saison"
            }) }}
            {{ component('_button', {
                buttonUrl: path('program_edit', {slug: program.slug}),
                buttonText: "éditer la série",
            }) }}
        </div>
    </div>


{% endblock %}