{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.firstname) }}
{{ form_row(form.lastname) }}
{{ form_row(form.birth_date) }}
{{ form_row(form.posterFile) }}
{{ form_row(form.programs) }}
<div class="flex space-x-2 justify-center">
    <button class="btn text-center inline-block mt-5 px-6 py-2.5 bg-white text-black font-medium text-md leading-tight uppercase rounded hover:bg-black hover:text-white hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">
        {{ button_label|default('actor.add'|trans) }}
    </button>
</div>
{{ form_end(form) }}