{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Fiche d'un acteur {% endblock %}

{% block body %}
    <h1 class="text-shadow-lg shadow-red font-sans text-4xl text-center font-bold uppercase">{{ actor.firstname }} {{ actor.lastname }}</h1>
    <div class="lg:flex lg:flex-row lg:justify-around lg:gap-x-8">
        <img src="{{ asset('build/images/actor-image.jpg') }}" class="max-w-full h-auto lg:rounded-full"
             alt="{{ actor.firstname }} {{ actor.lastname }}">
        <div class="flex flex-col justify-center items-center">
            <h4 class="font-medium leading-tight text-lg lg:text-3xl mt-5 mb-2 text-white text-center">date de naissance
                : Le {{ actor.birthDate|format_datetime('full', 'none', locale='fr') }}</h4>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h3 class="font-medium leading-tight text-3xl mt-0 mb-2 text-white text-center">Ses séries</h3>
            <div class="flex justify-center">
                <ul class="shadow shadow-red mb-2">
                    {% for program in actor.programs %}
                        <li class="flex px-6 py-2 border-b border-gray-200 w-full lg:max-w-lg rounded-t-lg hover:underline">
                            <a href="{{ path('program_show', {'id': program.id}) }}"
                               class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg">{{ program.title }}</a>
                        </li>
                    {% else %}
                        <li class="flex px-6 py-2 border-b border-gray-200 w-full lg:max-w-lg rounded-t-lg hover:underline">
                            Cet acteur ne joue dans aucune série pour le moment
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>


    <div class="flex flex-col items-center my-5">
        {{ component('_button', {
            buttonUrl:'#',
            buttonText: 'Retour',
        }) }}
    </div>
{% endblock %}