{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Profil de {{ app.user.email }}{% endblock %}
{% block body %}
    <h1 class="text-shadow-lg shadow-red font-sans text-4xl text-center font-bold
    uppercase">Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}</h1>
    <section class="flex font-medium items-center justify-center h-screen">

        <section class="max-w-fit mx-auto bg-red rounded-2xl px-8 py-6 shadow-lg">

            <div class="mt-6 w-fit mx-auto">
                <img src="https://api.lorem.space/image/face?w=120&h=120&hash=bart89fe" class="rounded-full w-28 "
                     alt="profile picture" srcset="">
            </div>

            <div class="mt-8 ">
                <h2 class="text-black font-sans text-2xl tracking-wide">{{ app.user.email }}</h2>
            </div>
            <p class="text-black font-sans font-semibold mt-2.5">
                {{ app.user.firstname }} <br> {{ app.user.lastname }}
            </p>

            <div class="h-1 w-full bg-black mt-8 rounded-full">
                <div class="h-1 rounded-full w-2/5 bg-yellow-500 "></div>
            </div>


            <div class="mt-3 text-black font-sans text-sm">
                <span class="text-gray-400 font-semibold">Ses séries favorites</span>
            </div>


        </section>


    </section>

{% endblock %}